<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<body style="background-color: #e6baa3" class="body-font">
    <div class="full-body-container">
        <div class="title-font">
            <h1 id="title">PlateDate</h1>
            <i class="fa fa-cutlery" style="font-size: 60px; color: white"></i>
        </div>
        <div class="specifications">
        </div>
        <div class="specifications">
            <div class="checkbox-container">
                <input type="checkbox" id="vegetarian" name="vegetarian" />
                <label for="vegetarian">Vegetarian</label>
                <input type="checkbox" id="vegan" name="vegan" />
                <label for="vegan">Vegan</label>
                <input type="checkbox" id="gluten-free" name="gluten-free" />
                <label for="gluten-free">Gluten-Free</label>
                <input type="checkbox" id="dairy-free" name="dairy-free" />
                <label for="dairy-free">Dairy-Free</label>
                <input type="checkbox" id="nut-free" name="nut-free" />
                <label for="nut-free">Nut-Free</label>
            </div>
        </div>
        <div class="dropdown-and-search-container" style="display: flex; align-items: center">
            <label for="number-select" style="margin-right: 10px">How many people?</label>
            <select id="number-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div id="search-bars-container"></div>
        <div id="sort-dropdown-container"></div>
        <div id="answer-box"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", () => {
            generateSearchBars();
            createSearchButton();
        })

        document.getElementById("number-select").addEventListener("change", () => {
            generateSearchBars();
            createSearchButton();
        })

        function generateSearchBars() {
            const numberOfSearchBars = document.getElementById("number-select").value;
            const container = document.getElementById("search-bars-container");
            container.innerHTML = "";

            for (let i = 0; i < numberOfSearchBars; i++) {
                const searchBoxDiv = document.createElement("div");
                searchBoxDiv.classList.add("input-box");

                const searchInput = document.createElement("input");
                searchInput.placeholder = "What do you want to eat?";

                const searchIcon = document.createElement("img");
                searchIcon.src = "{{ url_for('static', filename='images/mag.png') }}";

                searchBoxDiv.appendChild(searchIcon);
                searchBoxDiv.appendChild(searchInput);
                container.appendChild(searchBoxDiv);
            }
        }

        function createSearchButton() {
            const searchButton = document.createElement("button");
            searchButton.textContent = "Search";
            searchButton.addEventListener("click", filterText);
            searchButton.style.display = "block";
            searchButton.style.margin = "10px auto";
            document.getElementById("search-bars-container").appendChild(searchButton);
        }

        function createSortDropdown() {
            const sortLabel = document.createElement("label");
            sortLabel.textContent = "Sort by: ";
            sortLabel.style.marginRight = "10px";

            const sortDropdown = document.createElement("select");
            sortDropdown.id = "sort-dropdown";
            sortDropdown.addEventListener("change", sortResults);

            const options = ["Default", "Rating", "Time (increasing)"];
            options.forEach((option) => {
                const optionElement = document.createElement("option");
                optionElement.value = option;
                optionElement.textContent = option;
                sortDropdown.appendChild(optionElement);
            });

            const sortContainer = document.createElement("div");
            sortContainer.style.marginBottom = "20px";
            sortContainer.appendChild(sortLabel);
            sortContainer.appendChild(sortDropdown);
            document.getElementById("sort-dropdown-container").innerHTML = ""; // Clear previous sort dropdown
            document.getElementById("sort-dropdown-container").appendChild(sortContainer);
        }

        /**
         * Getting dietary restrictions
         */
        function getDietaryRestrictions() {
            const dietaryRestrictions = {
                vegetarian: false,
                vegan: false,
                gluten_free: false,
                dairy_free: false,
                nut_free: false,
            }
            const vegetarian = document.getElementById("vegetarian").checked
            const vegan = document.getElementById("vegan").checked
            const gluten_free = document.getElementById("gluten-free").checked
            const dairy_free = document.getElementById("dairy-free").checked
            const nut_free = document.getElementById("nut-free").checked

            if (vegetarian) {
                dietaryRestrictions["vegetarian"] = true
            }
            if (vegan) {
                dietaryRestrictions["vegan"] = true
            }
            if (gluten_free) {
                dietaryRestrictions["gluten_free"] = true
            }
            if (dairy_free) {
                dietaryRestrictions["dairy_free"] = true
            }
            if (nut_free) {
                dietaryRestrictions["nut_free"] = true
            }

            return dietaryRestrictions
        }

        var titles = []

        function filterText() {
            const searchInputs = document.querySelectorAll(
                "#search-bars-container input"
            )
            titles = Array.from(searchInputs)
                .map((input) => input.value)
                .filter((value) => value.trim() !== "")

            const dietaryRestrictions = getDietaryRestrictions()
            const numberPeople = document.getElementById("number-select").value

            const queryParams = new URLSearchParams({
                ...dietaryRestrictions,
                numberPeople: numberPeople,
            })

            titles.forEach((title, index) =>
                queryParams.append(`title${index}`, title)
            )

            document.getElementById("answer-box").innerHTML = ""
            if (titles.length > 0) {
                fetch(`/recipes?${queryParams.toString()}`)
                    .then((response) => response.json())
                    .then((data) => {
                        displayRecipes(data)
                        titles = []
                    })
            }
        }

        function displayRecipes(recipes) {
            const answerBox = document.getElementById("answer-box");
            answerBox.innerHTML = "";
            createSortDropdown();
            recipes.forEach((recipe, index) => {
                let tempDiv = document.createElement("div");
                tempDiv.setAttribute("data-total-time", recipe.total_time);
                tempDiv.setAttribute("data-aggregated-rating", recipe.aggregated_rating);
                tempDiv.setAttribute("data-original-index", index);
                tempDiv.style.border = "2px solid #B38770";
                tempDiv.style.padding = "10px";
                tempDiv.style.marginBottom = "20px";
                tempDiv.innerHTML = `
            <h3><a href="${recipe.Url}" target="_blank">${recipe.name}</a></h3>
            <div style="display: flex; align-items: center;">
                <img src="${recipe.image}" alt="${recipe.name}" style="width: 100px; height: 100px; margin-right: 10px;">
                <div>
                    <h4>Query Relevance</h4>
                    <canvas id="pieChart-${index}" width="100" height="100"></canvas>
                </div>
            </div>
            <p>Rating: ${generateStars(recipe.aggregated_rating)}</p>
            <p>Total Time: ${iso_to_min(recipe.total_time)} minutes</p>
        `;
                answerBox.appendChild(tempDiv);
                const chartCanvas = document.getElementById(`pieChart-${index}`);
                const existingChart = Chart.getChart(chartCanvas);
                if (existingChart) {
                    existingChart.destroy();
                }

                createPieChart(recipe.similarity_scores, titles, index);
            });
        }

        function createPieChart(similarityScores, titles, chartIndex) {
            const ctx = document
                .getElementById(`pieChart-${chartIndex}`)
                .getContext("2d")
            const data = {
                labels: similarityScores.map((_, i) => `Query #${i + 1}`),
                datasets: [
                    {
                        label: "Similarity Score",
                        data: similarityScores,
                        backgroundColor: [
                            "rgba(150, 111, 51, 1)",
                            "rgba(205, 133, 63, 1)",
                            "rgba(139, 69, 19, 1)",
                            "rgba(222, 184, 135, 1)",
                            "rgba(160, 82, 45, 1)",
                            "rgba(210, 180, 140, 1)",
                        ],
                        borderColor: [
                            "rgba(150, 111, 51, 1)",
                            "rgba(205, 133, 63, 1)",
                            "rgba(139, 69, 19, 1)",
                            "rgba(222, 184, 135, 1)",
                            "rgba(160, 82, 45, 1)",
                            "rgba(210, 180, 140, 1)",
                        ],
                        borderWidth: 1,
                    },
                ],
            }

            const config = {
                type: "pie",
                data: data,
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            display: false,
                        },
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    const query = titles[tooltipItem.dataIndex]
                                    const score = tooltipItem.raw
                                    const totalScore = similarityScores.reduce((a, b) => a + b, 0);
                                    const percentage = ((score / totalScore) * 100);
                                    return [
                                        `${query ? `"${query}"` : "Unknown Query"}`,
                                        `${percentage}%`,
                                    ]
                                },
                            },
                        },
                    },
                },
            }
            new Chart(ctx, config)
        }

        function generateStars(rating) {
            let stars = ""
            for (let i = 1; i <= 5; i++) {
                stars += i <= Math.floor(rating) ? "★" : "☆"
            }
            return stars
        }

        function iso_to_min(iso_time) {
            if (!iso_time || typeof iso_time !== "string") {
                return 0;
            }
            let total_minutes = 0;
            iso_time = iso_time.slice(2);
            if (iso_time.includes("H")) {
                total_minutes += parseInt(iso_time.split("H")[0]) * 60;
                const h_idx = iso_time.indexOf("H");
                iso_time = iso_time.slice(h_idx + 1);
            }
            if (iso_time.includes("M")) {
                total_minutes += parseInt(iso_time.split("M")[0]);
            }
            return total_minutes;
        }

        function sortResults() {
            const sortOption = document.getElementById("sort-dropdown").value;
            const recipeElements = Array.from(document.getElementById("answer-box").children);

            if (sortOption === "Rating") {
                recipeElements.sort((a, b) => {
                    const ratingA = parseFloat(a.getAttribute("data-aggregated-rating"));
                    const ratingB = parseFloat(b.getAttribute("data-aggregated-rating"));
                    return ratingB - ratingA;
                });
            } else if (sortOption === "Time (increasing)") {
                recipeElements.sort((a, b) => {
                    const timeA = iso_to_min(a.getAttribute("data-total-time"));
                    const timeB = iso_to_min(b.getAttribute("data-total-time"));
                    return timeA - timeB;
                });
            } else if (sortOption === "Default") {
                recipeElements.sort((a, b) => {
                    const indexA = parseInt(a.getAttribute("data-original-index"));
                    const indexB = parseInt(b.getAttribute("data-original-index"));
                    return indexA - indexB;
                });
            }

            recipeElements.forEach((element) => document.getElementById("answer-box").appendChild(element));
        }
    </script>
</body>