<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body style="background-color: #E6BAA3;">
    <div class="full-body-container">
        <div class="title-font">
            <h1 id="title">PlateDate</h1>
        </div>
        <div class="dietary-restrictions">
            <label>Indicate any dietary restrictions: </label>
            <div class="checkbox-container">
                <input type="checkbox" id="vegetarian" name="vegetarian">
                <label for="vegetarian">Vegetarian</label>
                <input type="checkbox" id="vegan" name="vegan">
                <label for="vegan">Vegan</label>
                <input type="checkbox" id="gluten-free" name="gluten-free">
                <label for="gluten-free">Gluten-Free</label>
                <input type="checkbox" id="dairy-free" name="dairy-free">
                <label for="dairy-free">Dairy-Free</label>
            </div>
        </div>
        <div class="dropdown-and-search-container">
            <label for="number-select" style="margin-bottom: 10px;">How many people are you cooking with?</label>
            <div id="dropdown-menu" style="display: flex; justify-content: center; align-items: center;">
                <select id="number-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button onclick="generateSearchBars()">Enter</button>
            </div>
        </div>
        <div id="search-bars-container"></div>
        <div id="answer-box"></div>
    </div>

    <script>
        function generateSearchBars() {
            const numberOfSearchBars = document.getElementById('number-select').value;
            const container = document.getElementById('search-bars-container');
            container.innerHTML = ''; // Clear the container before adding new search bars

            for (let i = 0; i < numberOfSearchBars; i++) {
                const searchBoxDiv = document.createElement('div');
                searchBoxDiv.classList.add('input-box');

                const searchInput = document.createElement('input');
                searchInput.placeholder = "What do you want to eat?";
                searchInput.setAttribute("onkeyup", "filterText()");

                const searchIcon = document.createElement('img');
                searchIcon.src = "{{ url_for('static', filename='images/mag.png') }}";

                searchBoxDiv.appendChild(searchIcon);
                searchBoxDiv.appendChild(searchInput);
                container.appendChild(searchBoxDiv);
            }
        }

        function filterText() {
            const searchInputs = document.querySelectorAll('#search-bars-container input');
            const titles = Array.from(searchInputs).map(input => input.value).filter(value => value.trim() !== "");

            // Constructing the query string manually to accommodate multiple values for 'title'
            const queryString = titles.map(title => `title=${encodeURIComponent(title)}`).join('&');

            document.getElementById("answer-box").innerHTML = "";
            if (titles.length > 0) {
                fetch(`/recipes?${queryString}`)
                    .then((response) => response.json())
                    .then((data) => {
                        data.forEach(row => {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerBoxTemplate(row.name, row.instructions, row.aggregated_rating, row.Url);
                            document.getElementById("answer-box").appendChild(tempDiv);
                        });
                    });
            }
        }

        function answerBoxTemplate(name, instructions, aggregatedRating, Url) {
            let stars = '';
            for (let i = 1; i <= 5; i++) {
                if (i <= Math.floor(aggregatedRating)) {
                    stars += `<span style="color: black;">★</span>`;
                } else if (i === Math.ceil(aggregatedRating) && aggregatedRating % 1 !== 0) {
                    stars += '1/2';

                } else {
                    stars += `<span style="color: black;">☆</span>`;
                }
            }
            return `<div class=''>
                <h3 class='recipe-name'><a href="${Url}" target="_blank">${name}</a></h3>
                    <p class='recipe-instructions'>${instructions}</p>
                    <p class='recipe-rating'>Rating: ${stars}</p>
                </div>`;
        }
    </script>
</body>